<div class="vh-100 d-flex flex-column bg-light p-4">
    <div>
        <mat-form-field class="col-12 col-lg-8">
            <mat-label>Buscar producto</mat-label>
            <input
                type="text"
                placeholder="Nombre de producto"
                matInput
                (keyup)="searchProducts($event.target.value)">
        </mat-form-field>
    </div>
    <div class="row flex-fill h-0">
        <div class="col-12 col-lg-8 h-100">
            <mat-card class="d-flex flex-column justify-content-between overflow-auto h-100">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 p-2" *ngFor="let product of products">
                        <mat-card class="h-100">
                            <img src="http://placehold.it/640x400/dddddd/333333" class="img-fluid mb-2">
                            <mat-card-header>
                                <mat-card-title>{{ product.name }}</mat-card-title>
                                <mat-card-subtitle><b>SKU:</b> {{ product.sku }}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="px-3">
                                <b>Descripción: </b>{{ product.description || 'Sin descripcion' }}
                            </mat-card-content>
                            <mat-card-actions class="px-3 pb-3">
                                <button mat-raised-button color="primary" class="w-100" (click)="addToCartModal(product)">
                                    <mat-icon>shopping_cart</mat-icon>
                                    Agregar al carrito
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button 
                        mat-raised-button
                        color="accent"
                        class="mr-1"
                        [disabled]="productService.disabledPrev"
                        (click)="productService.prev()">
                        Atras
                    </button>
                    <button
                        mat-raised-button
                        color="accent"
                        [disabled]="productService.disabledNext"
                        (click)="productService.next()">
                        Siguiente
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-lg-4">
            <mat-card class="d-flex flex-column justify-content-between h-100">
                <mat-list role="list" dense>
                    <mat-list-item *ngFor="let product of cart">
                        <div class="d-flex w-100">
                            <div class="col pl-0">
                                <p class="font-weight-bold mb-0">
                                    {{ product.product.name}}
                                </p>
                                <p class="mb-2" mat-line>${{ 1000 | number }}
                                </p>
                            </div>
                            <div class="col-auto d-flex align-items-center pr-0">
                                <p class="mr-2 mb-0">X {{ product.quantity }}</p>
                                <p class="mr-2 mb-0">
                                    ${{ 1000 * product.quantity | number }}
                                </p>
                                <button mat-icon-button title="Retirar" (click)="deleteCartProduct(product)">
                                    <mat-icon mat-list-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                        <mat-divider class="mb-1" [inset]="true"></mat-divider>
                    </mat-list-item>
                </mat-list>
                <div>
                    <div class="d-flex justify-content-between">
                        <p class="my-1">Subtotal</p>
                        <p class="my-1">${{ total.subtotal | number }}</p>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div class="d-flex justify-content-between">
                        <p class="my-1">IVA</p>
                        <p class="my-1">${{ total.iva | number }}</p>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="my-1">Total</p>
                        <p class="my-1">${{ total.total | number }}</p>
                    </div>
                    <button
                        mat-raised-button
                        color="primary"
                        class="w-100 px-5"
                        [disabled]="!cart.length"
                        (click)="pay()">
                        <mat-icon>payments</mat-icon>
                        Pagar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>