<h1 mat-dialog-title>Agregar {{ product.name }}</h1>
<div mat-dialog-content>
    <p>Digite la cantidad deseada</p>
    <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input id="quantityInput" matInput type="number" [formControl]="quantity" min="1">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="dataToSend()"
        cdkFocusInitial>
        Agregar
    </button>
</div>
